[Unit]
Description=Gold Bean Sprout AI Stock Simulation
After=network.target

[Service]
User=root
WorkingDirectory=/root/gold-bean-sprout-v7/backend
Environment="PORT=5000"
EnvironmentFile=/root/gold-bean-sprout-v7/backend/.env
ExecStart=/root/gold-bean-sprout-v7/venv/bin/python main.py
Restart=always

[Install]
WantedBy=multi-user.target
